[Unit]
Description=Power on a novaboot target %i

After=novaboot-target-off@%i.service
Conflicts=novaboot-target-off@%i.timer
After=novaboot-target-off@%i.timer

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/home/%i/novaboot-shell on"
User=%i
