[Unit]
Description=Delayed power-off of the novaboot target
ConditionGroup=novaboot
ConditionFileNotEmpty=%h/.novaboot-shell

[Service]
Type=oneshot
ExecStop=/usr/bin/sudo novaboot-power delayed-off
RemainAfterExit=true
