[Unit]
Description=Power on/off novaboot target %i

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/novaboot-shell on
ExecStop=/usr/bin/novaboot-shell off
User=%i
WorkingDirectory=~
