[Unit]
Description=Novaboot target on/off manager for %i
Requires=novaboot-server-on@%i.service
After=novaboot-server-on@%i.service
StopWhenUnneeded=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/bin/systemctl start novaboot-server-off@%i.timer
TimeoutSec=10
