[Unit]
Description=Delayed power-off of the novaboot target
ConditionGroup=novaboot
ConditionFileNotEmpty=%h/.novaboot-shell

[Service]
Type=oneshot
ExecStart=/usr/bin/sudo novaboot-power on
ExecStop=/usr/bin/sudo novaboot-power delayed-off
RemainAfterExit=true

[Install]
WantedBy=novaboot-delayed-power-off.target
