Source: novaboot
Section: devel
Priority: optional
Maintainer: Michal Sojka <sojkam1@fel.cvut.cz>
Build-Depends: debhelper (>= 8.0.0), perl, libexpect-perl
Standards-Version: 3.9.4
Homepage: https://github.com/wentasah/novaboot
Vcs-Git: https://github.com/wentasah/novaboot.git
Vcs-Browser: https://github.com/wentasah/novaboot

Package: novaboot
Architecture: all
Depends: perl, libexpect-perl, ${misc:Depends}
Recommends: perl-doc, rsync, qemu-system-x86, openssh-client,
 syslinux, genisoimage, amtterm, libwww-perl, tftpd-hpa,
 isc-dhcp-server, procps, sudo, iproute2, file
Suggests: scons, make
Description: Tool for booting operating systems on remote hardware
 This program makes booting of an operating system (e.g. Linux or
 NOVA) as simple as running a local program. It facilitates booting on
 local or remote hosts or in emulators such as qemu. Novaboot
 operation is controlled by command line options and by a so called
 novaboot script, which can be thought as a generalization of
 bootloader configuration files. Based on this input, novaboot setups
 everything for the target host to boot the desired configuration,
 i.e. it generates the bootloader configuration file in the proper
 format, deploy the binaries and other needed files to required
 locations, perhaps on a remote TFTP server and reset the target host.
 Finally, target host's serial output is redirected to standard output
 if that is possible.
